<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link href="" rel="stylesheet"/> ->로 외부에서 데이터 가져옴 -->
    <link href="/public/main.css" rel="stylesheet">
    <!-- app.js에서 public에 정적인 파일들 이미지들이 들어 있으니깐 href주소를 명시 할때 public을 사용 -->
</head>
<body>
    <h1><%= locals.title %></h1>
</body>
</html>