body{
    background-color: hotpink;
}


/* 부트스트랩은 class 이름을 다 제공해줘
class 이름으로 중복해서 main.css 에서 옷을 입히다보면
부트스트랩에서 class이름을 준것과 충돌이 일어날수 있어
부트스트랩이나 외부 라이브러리를 사용할 때는
유니크한 id값을 사용하면 충돌날 일이 줄일 수 있어
id가 container */
#container{
    width: 500px;
    height: 300px;
    /* background-color: white; */
    margin-top: 300px;
    text-align: center;

}
#title{
    color:wheat
}

#sub-container{
    width: 100%;
    height: 300px;
    background-color: white;
    border: 5px solid deeppink;
    border-radius: 20px;
}

#list-group{
    padding: 5px;

}

.list-group-item{
    border: none !important;
    /* !important->최우선으로  */
    border-bottom: 1px solid wheat !important;

}
#input-group{
    margin-top: 10px;
    background-color: hotpink;
}

#input-area{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#button-area{
    border: none;
    background-color: blueviolet;
    color:white
}